In [2]:
import sys
sys.path.append('../Storage')

import pgConn
import PostgresSQL_table_queries
import CloudStorage

import pandas as pd
from datetime import datetime

In [3]:
pg_conn = pgConn.PgConn("financial_news")
df = pg_conn.get_financial_news()

Connection to the database successful!
Table name set to: financial_news

In [4]:
df.head()

,id,source,category,headline,href,summary,content,datetime
0,3432723637265220684805700121422338335,Benzinga,Business,'Bitcoin Jesus' Roger Ver Charged With Tax Fra...,https://finance.yahoo.com/news/bitcoin-jesus-r...,Traders often forget about the capital gains t...,'Bitcoin Jesus' Roger Ver Charged With Tax Fra...,2024-05-02T20:45:00.000Z
1,328936130039506379935908987773324306494,Reuters,Business,'Bitcoin Jesus' arrested in Spain on US tax ev...,https://finance.yahoo.com/news/bitcoin-jesus-a...,"An early investor in bitcoins dubbed the ""Bitc...",By Nate Raymond\n(Reuters) - An early investor...,2024-04-30T22:46:23.000Z
2,237036842328241535656762434312155358351,Benzinga,Business,"'Forget Shark Tank, Forget Bitcoin' Kevin O'Le...",https://finance.yahoo.com/news/forget-shark-ta...,Are you looking to build a solid investment po...,In This Article:\nVZ\n+1.93%\n'Forget Shark Ta...,2024-04-29T14:01:31.000Z
3,149616869883877306585835706112544051081,Zacks,Business,3 Bitcoin Mining Stocks to Watch After the Apr...,https://finance.yahoo.com/news/3-bitcoin-minin...,"Riot Platforms (RIOT), Stronghold (SDIG) and C...",With the scheduled April Bitcoin (BTC) halving...,2024-04-26T12:14:00.000Z
4,66685584043284291902582719519363454528,Motley Fool,Business,3 Crypto Stocks Up More Than 500% Since 2023,https://finance.yahoo.com/news/3-crypto-stocks...,Are these scorching-hot crypto stocks still go...,In This Article:\nCOIN\n+5.68%\nMSTR\n+3.38%\n...,2024-04-27T11:30:00.000Z

In [5]:
def delete_records_for_current_date(df, pg_conn):
    if df is None:
        print("DataFrame is empty. No records to delete.")
        return
        
    # Filter DataFrame for records with today's date
    current_date = datetime.now().strftime("%Y-%m-%d")
    today_records = df[df['datetime'].str.startswith(current_date)]

    # Extract date strings
    date_strings = today_records['datetime'].tolist()

    # Call the delete_records_by_date method
    pg_conn.delete_records_by_date(date_strings)

# Then call the delete_records_for_current_date method
#delete_records_for_current_date(df, pg_conn)
#list_ids = ["11111"]
#pg_conn.delete_records_by_ids(list_ids)

In [6]:
class DataETL():
    
    def __init__(self, dataframe):
            self.df = dataframe
            self.cloudProvider = CloudStorage.CloudStorageProvider()
            
    class Export():
        def __init__(self, dataframe):
            self.df = dataframe
            self.cloudProvider = CloudStorage.CloudStorageProvider()
            
        def export_text_to_s3(self, bucket_name, prefix_path):
            # Initialize AWS storage
            aws_storage = self.cloudProvider.AWS()

            # Create a new bucket
            aws_storage.create_bucket(bucket_name)

            # Upload DataFrame with datetime subfolder structure
            aws_storage.upload_dataframe_with_datetime_subfolders(self.df, bucket_name, prefix_path)
        
        def export_text_to_s3_full_file(self, bucket_name, prefix_path, filename):
            aws_storage = self.cloudProvider.AWS()
            aws_storage.upload_dataframe_to_csv(self.df, bucket_name, filename, prefix_path)
            
    class Ingestion():
        def __init__(self, dataframe):
            self.df = dataframe
            self.cloudProvider = CloudStorage.CloudStorageProvider()
            
        def get_full_data_csv_file(self, bucket_name, prefix_path):
            # Initialize AWS storage
            aws_storage = self.cloudProvider.AWS()
            return aws_storage.get_csv_from_specific_folder(bucket_name, prefix_path)
        
        def get_data_csv_file_by_datetime(self, bucket_name, prefix_path, year, month, day, hour, minute):
            # Initialize AWS storage
            aws_storage = self.cloudProvider.AWS()
            return aws_storage.get_dataframe_from_specific_datetime(bucket_name, prefix_path, year=None, month=None, day=None, hour=None, minute=None)
    
    class Process():
        
        def __init__(self, dataframe):
            self.df = dataframe
        
        def getData():
            self.df = pg_conn.get_financial_news()
        
        def filter_by_current_date(self):
            # Get the current date as a string
            today_date_str = datetime.today().strftime('%Y-%m-%d')

            # Extract the year, month, and day from the current date string
            current_year, current_month, current_day = today_date_str.split('-')

            # Filter the DataFrame by comparing the substrings of the datetime column
            filtered_df = self.df[self.df['datetime'].str.startswith(f'{current_year}-{current_month}-{current_day}')]

            return filtered_df
            
    class Transform():
        def extractStopWords():
            pass

In [7]:
etl = DataETL(df)
etl_process = etl.Process(etl.df)
filtered_df = etl_process.filter_by_current_date()
filtered_df.head()

,id,source,category,headline,href,summary,content,datetime
9,305597107163779415489856686900632551669,Motley Fool,Business,"After the Halving, Could These Under-the-Radar...",https://finance.yahoo.com/news/halving-could-u...,"As a result of the halving, smaller Bitcoin mi...",In This Article:\n^GSPC\n+1.26%\nNow that the ...,2024-05-03T15:41:00.000Z
16,159416404800887200519263989588814909834,CoinDesk,Business,Bitcoin Hits $62K as Cryptos Bounce; Correctio...,https://finance.yahoo.com/news/bitcoin-hits-62...,Bitcoin will likely trade in a range between $...,In This Article:\nCOIN\n-2.45%\nBitcoin jumped...,2024-05-03T16:55:10.000Z
26,208940455049321691693488809724138560437,Motley Fool,Business,"Bitcoin, Ethereum, and Dogecoin Make a Massive...",https://finance.yahoo.com/news/bitcoin-ethereu...,A bad jobs report was good for crypto today.,In This Article:\n^GSPC\n+1.26%\nAfter a week ...,2024-05-03T19:43:22.000Z
28,70909696824678750772562703053670249643,CoinDesk,Business,Bitcoin’s Recent Weakness Is More Tied to Glob...,https://finance.yahoo.com/news/bitcoin-recent-...,Both equities and gold have been trading lower...,In This Article:\nCOIN\n-2.45%\nBoth equities ...,2024-05-03T14:30:35.000Z
30,319777140972015021527178358454588078091,etf.com,Business,BlackRock's IBIT Has 1st Outflows as Crypto Fe...,https://finance.yahoo.com/news/blackrocks-ibit...,"Risk-aversion moves into markets, and U.S. spo...",In This Article:\nBLK\n+0.91%\nBlackRock's IBI...,2024-05-03T18:47:41.000Z

In [8]:
export_rows_to_s3 = True
etl_export = etl.Export(filtered_df)
if export_rows_to_s3 == True:
    bucket_name = "test-financial-news-bucket"
    prefix_path = "news/crypto"
    etl_export.export_text_to_s3(bucket_name, prefix_path)

Bucket 'test-financial-news-bucket' created successfully.
Data for row 9 with id '305597107163779415489856686900632551669' uploaded to S3 bucket 'test-financial-news-bucket' under folder 'news/crypto/2024/05/03/15/41/00/305597107163779415489856686900632551669.csv'
Data for row 16 with id '159416404800887200519263989588814909834' uploaded to S3 bucket 'test-financial-news-bucket' under folder 'news/crypto/2024/05/03/16/55/10/159416404800887200519263989588814909834.csv'
Data for row 26 with id '208940455049321691693488809724138560437' uploaded to S3 bucket 'test-financial-news-bucket' under folder 'news/crypto/2024/05/03/19/43/22/208940455049321691693488809724138560437.csv'
Data for row 28 with id '70909696824678750772562703053670249643' uploaded to S3 bucket 'test-financial-news-bucket' under folder 'news/crypto/2024/05/03/14/30/35/70909696824678750772562703053670249643.csv'
Data for row 30 with id '319777140972015021527178358454588078091' uploaded to S3 bucket 'test-financial-news-bucket' under folder 'news/crypto/2024/05/03/18/47/41/319777140972015021527178358454588078091.csv'
Data for row 31 with id '237212006768992611635120751467535902540' uploaded to S3 bucket 'test-financial-news-bucket' under folder 'news/crypto/2024/05/03/18/26/23/237212006768992611635120751467535902540.csv'
Data for row 40 with id '6598653516169532626589861884822952316' uploaded to S3 bucket 'test-financial-news-bucket' under folder 'news/crypto/2024/05/03/15/02/36/6598653516169532626589861884822952316.csv'
Data for row 51 with id '165523490444405171998743848173794709328' uploaded to S3 bucket 'test-financial-news-bucket' under folder 'news/crypto/2024/05/03/15/39/15/165523490444405171998743848173794709328.csv'
Data for row 56 with id '92609664273639370605796472534509050031' uploaded to S3 bucket 'test-financial-news-bucket' under folder 'news/crypto/2024/05/03/14/52/38/92609664273639370605796472534509050031.csv'
Data for row 64 with id '246175206915909390480118827988731117506' uploaded to S3 bucket 'test-financial-news-bucket' under folder 'news/crypto/2024/05/03/18/28/52/246175206915909390480118827988731117506.csv'

In [9]:
post_full_csv = False
if (post_full_csv == True):
    now = datetime.now()
    filename = f"{now.year}-{now.month:02}-{now.day:02}_full_record"
    etl_export.export_text_to_s3_full_file(bucket_name, prefix_path, filename)

In [13]:
ingest_data = True
get_full_file = True
get_by_datetime = False
df_from_file = None

if ingest_data == True:
    etl_ingestion = etl.Ingestion(etl.df)
    bucket_name = "test-financial-news-bucket"
    prefix_path = "news/crypto/"
    year = ''
    mont = ''
    day = ''
    hour = ''
    minute = ''
    if get_full_file == True:
        df_from_file = etl_ingestion.get_full_data_csv_file(bucket_name, prefix_path)
    elif get_by_datetime == True:
        etl_ingestion.get_data_csv_file_by_datetime(bucket_name, prefix_path, year, month, day, hour, minute)

In [25]:
if df_from_file is not None:
    for index, row in df_from_file.iterrows():

id                    328936130039506379935908987773324306494
source                                                Reuters
category                                             Business
headline    'Bitcoin Jesus' arrested in Spain on US tax ev...
href        https://finance.yahoo.com/news/bitcoin-jesus-a...
summary     An early investor in bitcoins dubbed the "Bitc...
content     By Nate Raymond\n(Reuters) - An early investor...
datetime                             2024-04-30T22:46:23.000Z
Name: 0, dtype: object